/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
    Roboto,"Helvetica Neue",
    Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.main
{
    margin-bottom: 2rem;
}

.container {
    max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #ffffff;
    max-height: 100px;
}

.blog-main
{
    background-color: #f5f8fa;
    padding: 1.5rem;
    border-radius: 20px;
}

/* Nav links */
.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #000000;
}
.nav-link:hover,
.nav-link:focus {
    color: #A9A9A9;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #A9A9A9;
}
.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;
    border-bottom: .05rem solid #eee;
}
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.single {
    margin-bottom: 10px;
    padding: 10px;
}
.single h2 {
    margin-bottom: .25rem;
    font-size: 2.5rem;
    text-align: center;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.btn-round
{
    width: 24px;
    height: 24px;
    border-radius: 50% !important;
}

.actions-post
{
    float: left;
    margin-right: 15px;
}
.actions
{
    width: 100px;
}

.number-of-posts
{
    text-align: center;
}


.detailBox {
    border:1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.account-info img
{
    width: 50px;
}

.account-info a
{
    padding: 0;
}

.top-nav
{
    float: left;
    padding-top: 20px;
}
.container-fluid
{
    padding: 5px 20px;
}
.account-info
{
    float: right;
    padding-top: 5px;
}
.account-info img
{
    border-radius: 50%;
}
.user-name
{
    padding-left: 1rem !important;
}
.logout a
{
    padding-top: 0 !important;
    padding-left: 1rem !important;
}

.article-card
{
    margin: 10px 0; 
}

.blog-header-logo
{
    width: 100%;
}

.logout p
{
    margin: 0;
}
.card img
{
    height: 300px;
}
.thumb
{
    max-width: 200px;
}